@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  background: black
}

:root {
  --facebook: #3b5998;
    --instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    --youtube: #FF0000;
    --x: #333;
    --linkedin: #0072b1;
    --whatsapp: #25d366;
    --tiktok: #4f4f4f;
}


.icons {
  transform: scale(0.6);
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icons .icon {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  border-radius: 50%;
  transition: background-color 300ms, border-width 300ms;
}

.icons .icon svg {
  transition: transform 300ms;
}

.icons .facebook {
  --color: var(--facebook);
}

.icons .instagram {
  --color: var(--instagram);
}

.icons .youtube {
  --color: var(--youtube);
}

.icons .x {
  --color: var(--x);
}

.icons .linkedin {
  --color: var(--linkedin);
}
.icons .whatsapp {
  --color: var(--whatsapp);
}
.icons .tiktok {
  --color: var(--tiktok);
}

.icons .icon:hover {
  background: var(--color);
  border-width: 1px;
}

.icons .icon:hover svg {
  transform: scale(1.1);
}




.buttonHover {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 1em 2em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.buttonHover span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #0c66ed;
  border-radius: 50%;
  transition: .6s ease;
}

.buttonHover span:nth-child(6) {
  position: relative;
}

.buttonHover span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.buttonHover span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.buttonHover span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

.buttonHover span:nth-child(4) {
  transform: translate(3.5em, 2em);
}

.buttonHover span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.buttonHover:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}
  

.form {
  --width-of-input: 200px;
  --border-height: 1px;
  --border-before-color: rgba(221, 221, 221, 0.39);
  --border-after-color: #5891ff;
  --input-hovered-color: #4985e01f;
  position: relative;
  width: var(--width-of-input);
 }
 /* styling of Input */
 .input {
  color: #fff;
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
  border-bottom: var(--border-height) solid var(--border-before-color);
 }
 /* styling of animated border */
 .input-border {
  position: absolute;
  background: var(--border-after-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.3s;
 }
 /* Hover on Input */
 input:hover {
  background: var(--input-hovered-color);
 }
 
 input:focus {
  outline: none;
 }
 /* here is code of animated border */
 input:focus ~ .input-border {
  width: 100%;
 }
 /* === if you want to do animated border on typing === */
 /* remove input:focus code and uncomment below code */
 /* input:valid ~ .input-border{
   width: 100%;
 } */